body {
  background-color: #bce3fa;
  color: #28225c;
  font-family: Aptos;
  margin-left: 50px;
  margin-right: 50px
}

h1, h2 {
  background-color: #0abaee;
  color: #28225c;
  border: 2px solid #28225c;
  padding: 5px;
  font-family: Aptos;
}

img {
    width: 400px;
    border: 3px solid #28225c;
    border-radius: 8px;
    padding: 0px;
    margin-right: 20px;
    margin-bottom: 10px;
}
